<div fxLayout="row" fxLayoutAlign=" stretch">
    <mat-toolbar class="fixed-header" fxFlex="100%;" fxFlex.xs="100%" fxFlex.sm="100%" fxFlex.md="100%">
      <mat-toolbar-row>
        <button mat-icon-button [matMenuTriggerFor]="menu">
          <mat-icon>list</mat-icon>
        </button>
        <mat-menu #menu="matMenu">
          <button mat-menu-item>
            <mat-icon>notes</mat-icon>
            <span>Notes</span>
          </button>
          <button mat-menu-item disabled>
            <mat-icon>notifications_on</mat-icon>
            <span>Remainder</span>
          </button>
          <button mat-menu-item>
            <mat-icon>edit</mat-icon>
            <span>Edit Labels</span>
          </button>
          <button mat-menu-item>
            <mat-icon>archive</mat-icon>
            <span>Archive</span>
          </button>
          <button mat-menu-item>
            <mat-icon>delete</mat-icon>
            <span>Trash</span>
          </button>
        </mat-menu>
        <span><img src="./assets/image/keep-512.png" style="width:50px;"></span>
        &nbsp;&nbsp;
        <span>
          <font size="5" face="arial">Keep</font>
        </span>
        &nbsp;
        &nbsp;
        &nbsp;
        &nbsp;
        &nbsp;
        
        
        <form role="form">  
            <div class="row">
                <div class="form-group">
                    <div class="input-group">
                        <input class="form-control" type="text" name="search" placeholder="Search here"  required="" [(ngModel)]='searchcontent'>
                       
                    </div>
                </div>          
            </div>
        </form>
        <mat-icon>search</mat-icon>


        <button mat-button [matMenuTriggerFor]="user">
          <mat-icon>account_circle</mat-icon>
        </button>
        <mat-menu #user="matMenu">
          <button mat-menu-item>
            <mat-icon>logout</mat-icon>
            <a mat-button routerLink="/login">
              <span>Logout</span>
            </a>
          </button>
        </mat-menu>
      </mat-toolbar-row>
    </mat-toolbar>
  </div>
    
  


